# Database env
POSTGRES_DB=recipe_db
POSTGRES_USER=recipe_user
POSTGRES_PASSWORD=recipe_pass123
DATABASE_URL=postgresql+psycopg://recipe_user:recipe_pass123@db:5432/recipe_db

# Backend env
SQL_ECHO=1
# jwt secret
SECRET_KEY=super_secret_random_string_at_least_32_bytes

AGENT_MODEL=
OPENROUTER_API_KEY=
