annotated-types==0.7.0
annotated-doc==0.0.4        # Make use of Python type annotations to generate JSON Schemas compatible with the OpenAI function calling API from your annotated functions.
fastapi[standard]>=0.113.0,<0.114.0 # standard includes python-multipart, email-validator 
greenlet==3.3.2
psycopg[binary]>=3.1
alembic>=1.13
pydantic==2.12.5
pydantic_core==2.41.5
SQLAlchemy==2.0.48
sqlmodel==0.0.37
typing-inspection==0.4.2
typing_extensions==4.15.0

inflect==7.5.0
more_itertools==10.8.0
typeguard==4.5.1

# psycopg2-binary==2.9.11
sqlacodegen-v2==0.1.4
argon2-cffi==25.1.0         # secure password hashing library
password-validator==1.0
PyJWT==2.8.0                # for tokens
